.button_add_deb {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #2E3E51;
    border: 1px solid #2E3E51;
    padding-left: 12px;
    padding-right: 12px;
    height: 45px;
    border-radius: 6px;
    width: 40%;
}

.button_container_deb {
    white-space: nowrap;
    display: flex;
    align-items: center;
    width: 95%;
    align-self: center;
    margin-left: 8px;
    justify-content: space-between;
}

.button_add_deb:active,
.reset_filter_button:active {
    background-color: #012087;
    color: white;
}

.debiteur_tab_container {
    margin-top: 12px;
    width: 95%;
    height: 80%;
    background-color: rgb(255, 255, 255);
    border: 1px solid #2E3E51;
    display: flex;
    align-self: center;
    align-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    gap: 14px;
    overflow: hidden;
    overflow-y: scroll;
}

.container_scroll_deb {
    width: 90%;
    height: 100%;
    display: flex;
    align-self: center;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    gap: 4px;
}

.input_case_container_deb {
    width: 100%;
    height: 50px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-shrink: 0;
    border-bottom: 1px solid #01208723;
    gap: 10px;

}

.fixed_input_case_container_deb {
    position: sticky;
    width: 90%;
    height: 40px;
    top: 0;
    color: #012087;
    justify-content: space-between;
    z-index: 10; 
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid black;
    gap: 10px;
}

.case_id_menu {
    color: #012087;
    display: flex;
    align-items: center;
    height: 100%;
    width: 10%;
}

.case_name_menu {
    display: -webkit-box;
    -webkit-line-clamp: 2;           /* Limite à 2 lignes */
    -webkit-box-orient: vertical;    /* Direction du texte */
    overflow: hidden;                /* Cache tout débordement */
    text-overflow: ellipsis;         /* Ajoute "..." à la fin du texte tronqué */
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-height: calc(1.2em * 2);     /* Hauteur pour 2 lignes environ */
    line-height: 1.2em;              /* Hauteur de ligne */
    width: 25%;
    padding: 5px;
}

.case_status_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 40%;
}
.case_action_menu {
    display: flex;
    align-items: center;
    height: 100%;
    width: 35%;
}

.case_action_menu_button_container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 35%;
}

.button_action_point {
    height: 8px;
    width: 8px;
    border-radius: 8px;
    background-color: #012087;
}

.case_action_menu_button {
    display: flex;
    padding: 8px;
    border-radius: 8px;
    gap: 2px;
}
.reset_filter_button {
    background-color: #01208730;
    width: 40%;
    height: 50%;
    display: flex;
    font-size: 4vw;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 12px;
}

.case_action_menu_button:active {
    background-color: #2e3e5126;
}

.modal_content_deb {
    border-radius: 12px;
    width: 250px;
    z-index: 99;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: white;
    position: absolute;
    gap: 24px;
}

.button_status {
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 135px;
    padding: 4px 8px 4px 8px ;
    border-radius: 12px;
    background-color: rgba(255, 0, 0, 0.248);
    font-size: 14px;
}

.Title_modal_debiteur {
    display: flex;
    align-items: center;
    width: 100%;
    height: 24px;
    color: #011b71;
    font-size: 18px;
    font-weight: 600;
    text-decoration: underline;
}

.Subtitle_modal_debiteur {
    display: flex;
    align-items: center;
    width: 100%;
    height: 20px;
    color: #012087;
    font-size: 16px;
    font-weight: 400;
}

.Link_modif_modal_debiteur {
    display: flex;
    align-items: center;
    width: 100%;
    height: 20px;
    color: #012087;
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
}

.Link_modif_modal_debiteur::after {
    content: '';
    display: inline-block;
    margin-left: 8px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid currentColor;
    transform: rotate(-90deg); 
}

.Link_modif_modal_debiteur:active {
    text-decoration: none;
}

.Subtitle_modal_debiteur_information {
    color: black;
    font-weight: 400;
}

.preventif_text_container {
    height: 95px;
    width: 85%;
    background-color: #0120871b;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 12px;
    border-radius: 12px;
}