.facture_obj_container {
    margin-top: 12px;
    width: 95%;
    height: 80%;
    background-color: rgb(255, 255, 255);
    border: 1px solid #2e3e5154;
    display: flex;
    align-self: center;
    /* align-content: center; */
    padding-top: 5%;
    padding-bottom: 5%;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    gap: 14px;
    overflow: hidden;
    overflow-y: scroll;
}

.notecase_container {
    width: 95%;
    min-height: 35%;
    max-height: 75%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    position: relative;
    /* border: 1px solid black; */
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    

}
.notecase_container.has-button {
    min-height: 30%;
}
.notecase_container.expanded {
    min-height: 55%;
}

.notecase_title_container {
    height: 25%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid rgba(0, 0, 0, 0.124);
    margin-bottom: 2px;
}

.text_container.expanded {
    height: 1000px;
}
.title_var {
    justify-content: center
    ;
    width: 30%;
    /* background-color: aquamarine; */
    height: 100%;
    align-items: center;
    display: flex;
    color: #012087;
}

.text_container {
    padding: 1%;
    margin: 1%;
    height: 60%;
    width: 95%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 12px;
}

.button_voirplus {
    right: 2.5%;
    position: absolute;
}

.button_voirplus_container {
    min-height: 15%;
    width: 100%;
}

.button_add_note {
    height: 100%;
    /* background-color: #012087; */
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 12px;
    padding: 0px 12px 0px 12px;
    flex-direction: column;
    width: auto;
    font-size: 14px;
    color: #2E3E51;
    border: 1px solid #2E3E51;
    white-space: nowrap;
    text-decoration: none;
}

.button_add_note:active {
    background-color: #012087;
    color: white;
}

.input_container_note {
    margin-top: 5%;
    margin-bottom: 5%;
    height: 55%;
    width: 95%;
}