body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.help_button a {
  color: #ffffff; 
  text-decoration: none; 
}

.help_button a:hover {
  color: rgb(0, 60, 255); 
  text-decoration: underline;
}

.main_content {
    background-color: #F6F9FC;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }

  .slogan_content {
    margin-top: 64px;

    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-weight: 600;
    font-size: 28px ;
  }
 
  .login_Content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 48px;
    background-image:url('/images/fond_blue_dreki.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .connexion_button {
    font-size: 20px ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 75%;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 48px;
    color: white;
    box-shadow: inset 0 0 0 1px white;
    transition: background-color 0.3s ease, color 0.3s ease; 
  }

  .connexion_button:active {
    background-color: #ffffff;
    color: #012087;
  }

  .connexion_button_snd {
    background-color:#012087 ;
    font-size: 20px ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 75%;
    border-radius: 48px;
    color: white;
    box-shadow: inset 0 0 0 1px #012087;
    transition: background-color 0.3s ease, color 0.3s ease; 
    text-decoration: none;
  }

  .connexion_button_snd:active {
    background-color: #ffffff;
    color: #012087;
  }
  
  .inscription_button {
    font-size: 20px ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 75%;
    background-color: rgb(255, 255, 255);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0);
    border-radius: 48px;
    color: #012087;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease; 

  }

  .inscription_button:active {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: inset 0 0 0 1px white;
    color: white;
  }

  .help_button {
    right: 0;
    bottom: 0;
    position: absolute;
    color: rgb(255, 255, 255);
    margin-bottom: 12px;
    margin-right: 12px;
  }


.modalCo {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 70vh;
  background-color: rgba(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slide-up 0.5s ease-out;
  z-index: 1000;
}

.modalCo_back {
  height: 100vh;
  width: 100vw;
}

.modalCo_overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.0);
  transition: opacity 0.3s ease, visibility 0.3s ease;
  opacity: 0;
  visibility: hidden;
  z-index: 999;

}

.modalCo_overlay.show {
  opacity: 1;
  visibility: visible;
  animation: slide-up 0.5s ease-out;
}

.modalCo_overlay.hide {
  opacity: 0;
  visibility: hidden;
  animation: slide-down 0.5s ease-in;
}

.logo_content {
  display: flex;
  width: 100%;
  height: 20%;
  /* justify-content: center; */
  align-items: center;
  display: flex;
  flex-direction: column;
}

.swap_logo_first {
  bottom: 75%;
  margin-left: 24px;
  position: fixed;
  display: flex;
  width: 100%;
  height: 20%;
  /* justify-content: center; */
  align-items: center;
  transition: opacity 0.5s ease;
  color: white;
  font-size: 28px;

}

.swap_logo_second {
  display: flex;
  width: 100%;
  height: 20%;
  justify-content: center;
  align-items: center;
  transition: opacity 0.25s ease; 
  background-color: #ffffff;
  height: 100%;

}
.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

.modalCo_content {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  height: 75%;
  width: 100%;
  right: 0;
  bottom: 0;
  border-radius: 48px 48px 0px 0px;
  transform: translateY(100%);
  transition: transform 0.5s ease;
  z-index: 1000;
}


.modalCo_content.show {
  transform: translateY(0);
}

.modalCo_content.hide {
  transform: translateY(100%);
}

.modalCo_content_center {
  height: 80%;
  width: 85%;
  /* border: 1px solid #000000; */
  z-index: 1001;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.modalCo_field_content {
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1002;

}

.modalCo_field_title {
  color: #012087;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 4px;
}

.modalCo_field_case {
  width: 100%;
  height: 40%;
  /* border: 1px solid #ff0000; */
  border-bottom: 1px solid rgb(141, 141, 141);
  z-index: 2003;
  
}

.modalCo_field_input_is_ed {
  display: flex;
  align-items: center;
  width: 85%;
  height: 100%;
  color: rgb(141, 141, 141);
  font-size: 18px;
  z-index: 1003;
}

.modalCo_field_input_not_ed {
  width: 85%;
  height: 100%;
  color: rgb(141, 141, 141);
  font-size: 18px;
  display: flex;
  align-items: center;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes slide-down {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}

.modalCo_field_input_container_button {
  display: flex;
  height: 100%;
}

.mdp_forgot_content {
  width: 100%;
  height: 10%;
  display: flex;
  position: relative;
  margin-bottom: 62px;
}

.mdp_forgot_text {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 18px;
}

.no_account_content {
  position: absolute;
  bottom: 0;
  right: 0;
}

.no_account_content_text {
  font-size: 14px;
  color: rgb(141, 141, 141);
  right: 0;

}

.no_account_content_button_to_sign {
  position: absolute;

  right: 0;
  font-size: 16px;
  color: rgb(10, 10, 10);
  font-weight: 500;
}