.button_params {
    height: 15%;
    background-color: blue;
}


.button_container_params {
    height: 10%;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
}

.button_mdp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #2E3E51;
    border: 1px solid #2E3E51;
    padding-left: 12px;
    padding-right: 12px;
    height: 45px;
    width: 100px;
    border-radius: 12px;
    white-space: nowrap;

}

.button_doc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 45px;
    color: #2E3E51;
    border: 1px solid #2E3E51;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 6px;
    width: 150px;
    white-space: nowrap;

}
.button_default.active,
.button_doc.active,
.button_mdp:active,
.button_default:active,
.button_add_file:active,
.button_doc:active {
    background-color: #012087;
    color: white;
}


.button_default {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 150px;
    color: #2E3E51;
    border: 1px solid #2E3E51;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 6px;
    white-space: nowrap;
}


.part_change_params {
    width: 95%;
    height: 80%;
    background-color: rgb(255, 255, 255);
    border: 1px solid #2E3E51;
    display: flex;
    align-self: center;
    align-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    gap: 10px;
    overflow: hidden;
    overflow-y: scroll;
    /* justify-content: space-around; */
}



.placeholder_file_container {
    height: 35px;
    background-color: #0120870c;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 8px;

}

.button_add_file {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 150px;
    color: #1d2733;
    border: 1px solid #2E3E51;
    background-color: #535f6e25;
    border-radius: 4px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.container_scroll_doc {
    width: 90%;
    height: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
    gap: 25px;
    overflow-x: hidden;
}

