.input_case_container {
    width: 85%;
    height: 100px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #2E3E51;
}

.return_arrow {
    margin-top: 2%;
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;

}

.arrow_beg {
    background-color: #012087;
    height: 10px;
    border-radius: 12px;
    width: 24px;
}

.arrow_container {
    margin-left: 8px;
    padding: 8px 8px 8px 0px;
    display: flex;
    align-items: center;
    border-radius: 12px;
}

.arrow_container:active {
    background-color: #0120874e;
}
.arrow_end {
    color:#012087;
    content: '';
    display: inline-block;
    margin-right: -10px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid currentColor;
    transform: rotate(90deg);
    border-radius: 12px;
}

.input_title_container {
    width: 100%;
    color: #2E3E51;
}
.loading-page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.input_field {
    border: 1px solid #535f6e7d;
    outline: none;
    width: 100%;
    height: 32px;
    color: #212529;
    margin-bottom: 12px;
    border-radius: 0.25rem;
    background-color: #F6F9FC;
}

.input_field:focus {
    box-shadow: 0 0 0 3px #437e9757;
    border: 1px solid #535f6e;
}

.bouton_save_container {
    margin: 18px;
    display: flex;
    width: 85%;
    justify-self: center;
    justify-content: space-between;
}


.button_save {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: auto;
    font-size: 4vw;
    color: #2E3E51;
    border: 1px solid #2E3E51;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 12px;
    white-space: nowrap;
    text-decoration: none;
}

.button_save:active {
    background-color: #012087;
    color: white;
}

.search_input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #2E3E51;
    border: 1px solid #696c6fa4;
    background-color: rgba(255, 0, 0, 0.049);
    padding-left: 12px;
    padding-right: 12px;
    height: 35px;
    border-radius: 24px;
    width: 35%;
    text-decoration: none;
}

.title_params_text {
    margin: 4px;
    font-size: 32px;
    color: #012087;
    display: flex;
}

.title_params_container {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    height: 10%;
    width: 95%;
    align-self: center;

}

.dragon_logo {
    height: 35px;
    width: 35px;
}

.modal_back {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100vw;
    background-color: #0120873e;
    left: 0;
    top: 0;
    overflow: hidden;
    overflow-y: hidden;
    overflow-x: hidden;
}

.page_container_navbar {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    margin-top: 15%;
    background-color: #F6F9FC;
}

html, body {
    background-color: #F6F9FC; 
}

.image_mov_container {
    height: 10%;
    width: 75%;
    position: relative;
    overflow: hidden;
}

.spin_mov_container {
    height: 10%;
    width: 75%;
    overflow: hidden;
    position: relative;
    display: flex;
}


.moving_image {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    animation: moveLeftToRight 5s linear infinite;
}

@keyframes moveLeftToRight {
    0% {
        left: -100px; 
    }
    100% {
        left: 100%; 
    }
}

@keyframes letter-scale {
    
    0% { 
        color: black; 
    }
    50% { 
        color: #012087; 
    }
    100% { 
        color: black; 
    }
}
  
.letter {
    display: inline-block;
    animation: letter-scale 4s infinite;
    transform-origin: center;
    line-height: 1em;
    vertical-align: bottom;
    height: 25px;
    margin-right: 0.1em;
    /* background-color: #5c82ff20; */
}

.text_loading {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    /* background-color: #01208720; */
    width: 155px;
}

.loading_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 1);
    z-index: 1000;
}

@keyframes spinner {
    0% {
      transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }
    100% {
      transform: translate3d(-50%, -50%, 0) rotate(360deg);
    }
  }

.spin::before {
  animation: 1.5s linear infinite spinner;
  animation-play-state: inherit;
  border: solid 5px #cfd0d1;
  border-bottom-color: #012087;
  border-radius: 50%;
  content: "";
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: 40px;
  will-change: transform;
}